Name: Korpe Kaustubh

Roll no.:21CO067

Class: Comp A Batch D

**Assignment 03 DSBDAL**

**Title:Descriptive Statistics - Measures of Central Tendency and variability**  

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
of iris.csv dataset.

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Salary_Data.csv")

In [ ]:
df

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872

In [ ]:
df.mean()

YearsExperience        5.313333
Age                   27.216667
Salary             76003.000000
dtype: float64

In [ ]:
df.loc[:,'Age'].mean()

27.216666666666665

In [ ]:
df.mean(axis=1)[0:2]

0    13121.700000
1    15409.266667
dtype: float64

In [ ]:
df.median()

YearsExperience        4.7
Age                   25.0
Salary             65237.0
dtype: float64

In [ ]:
df.loc[:,'Salary'].median()

65237.0

In [ ]:
df.median(axis=1)[1:2]

1    21.5
dtype: float64

In [ ]:
df.loc[:,'Age'].mode()

0    24.0
Name: Age, dtype: float64

In [ ]:
df.min()

YearsExperience        1.1
Age                   21.0
Salary             37731.0
dtype: float64

In [ ]:
df.min(axis=1)[2:5]

2    1.5
3    2.0
4    2.2
dtype: float64

In [ ]:
df.max()

YearsExperience        10.5
Age                    38.0
Salary             122391.0
dtype: float64

In [ ]:
df.loc[:,'Salary'].max()

122391

In [ ]:
df.std()

YearsExperience        2.837888
Age                    5.161267
Salary             27414.429785
dtype: float64

In [ ]:
df.loc[:,'Age'].std()

5.161267108077196

In [ ]:
df.std(axis=1)[0:2]

0    22708.314100
1    26669.889307
dtype: float64

In [ ]:
df.groupby(['Salary'])['Age'].mean()

Salary
37731     21.7
39343     21.0
39891     22.2
43525     22.0
46205     21.5
54445     23.3
55794     24.0
56642     23.0
56957     24.0
57081     24.0
57189     23.6
60150     23.0
61111     25.0
63218     23.9
64445     23.3
66029     26.0
67938     25.0
81363     28.0
83088     27.0
91738     30.0
93940     29.0
98273     30.0
101302    31.0
105582    34.0
109431    33.0
112635    36.0
113812    32.0
116969    35.0
121872    38.0
122391    37.0
Name: Age, dtype: float64

In [ ]:
db=pd.read_csv("Iris.csv")

In [ ]:
irisSet = (db['Species']== 'Iris-setosa')

In [ ]:
print('Iris-setosa')
print(db[irisSet].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [ ]:
irisVer = (db['Species']== 'Iris-versicolor')

In [ ]:
print('Iris-versicolor')
print(db[irisVer].describe())

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [ ]:
irisVir = (db['Species']== 'Iris-virginica')

In [ ]:
print('Iris-virginica')
print(db[irisVir].describe())

Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000